@import "tailwindcss";

a {
    color: #0000FF;
    text-decoration: underline;
    width: fit-content;
}

button {
    border: 1px solid black;
    cursor: pointer;
}

button:hover { 
    background-color: black;
    color: white;
}